<div class="container">
  <div class="row">
    <div class="post-font-box col-sm-8 mx-auto">
      <h1 class="post-font-saerch mt-5"><i class="fas fa-search"></i>　<strong>あなたが気になるお肉はありますか？</strong></h1>
    </div>
    <!--検索バーの設置-->
    <div class="post-search col-sm-6 pl-5 mt-3 mx-auto">
      <%= search_form_for @q do |f| %>
      <%= f.search_field :post_name_cont, :size => "30"  %>
      <%= f.submit "検索", class: "btn btn-primary mt-2 mb-3 ml-4 " %>
      <% end %>
    </div>
    <!--アイテム３表示-->
    <div class="post-box col-sm-12">
      <% @posts.each do |post| %>
      <div class="col-4">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 250, 200 %>
        　　<p><%= post.post_name %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>